html{
    height: 100%;
  }
  body {
    position: relative;
    margin: 86px;
    padding: 0;
    background: linear-gradient(#439aec, #38dce7);
  }
  
  form {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    border-radius: 50px;
  }
  button {
    background-color: rgb(30, 118, 201);
    border-radius: 5px;
    width: 120px;
    height: 50px;
    border: none;
  }
  input {
    width: 350px;
    height: 20px;
    border-radius: 9px;
    height: 40px;
  }
  textarea {
    width: 350px;
    height: 90px;
    border-radius: 15px;
  }
  h1 {
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  div{
    padding: 60px;
  }
  p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 118, 201);
  }
  span{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
  }
  a{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 118, 201);
  }
  